:root {
    --oranage: #D1623E;
    --brown: #665652;
    --grey: #f1f1f1;
    --img-shadow: 0px 0px 10px 0px #66565230;
    --page-spacing: 2rem;
    --mono: 'input-mono-narrow';
    --sans: 'degular';
}

html {
    font-size: 18px;
    font-family: 'degular';
}

body {
    background-color: var(--brown);
    background-image: url("./assets/Backgroung\ img.JPG");
    background-size:cover;
    color: #f1f1f1;
    width: 100vw;
    padding: var(--page-spacing);

}
.border {
    border: solid;
    border-width: 2px;
   height: 100%;
    position: relative;
}
header{
    margin: var(--page-spacing);
}
.horizontal {
    margin-bottom: var(--page-spacing);
}
.vertical {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
hr{
    border: solid;
    border-width: 1px;
    margin-bottom: var(--page-spacing);
}
main{
    margin: var(--page-spacing);
    background-color: var(--grey);
    color: var(--brown);
    padding: var(--page-spacing);
    
}
h1{
    font-family: var(--mono);
    font-weight: 200;
    margin-bottom: var(--page-spacing);
}

ul{
    line-height: var(--page-spacing);
    border-left: solid;
    border-width: 2px;
    padding: calc(0.5 * var(--page-spacing));
}
a{
    font-family: var(--mono);
    font-weight: 200;
    font-size: 1rem;
}
a::before{
    content: "{";
}
a::after{
    content: "}";
}
@media (min-width: 490px){

html{
    font-size: 24px
}
}
@media (min-width: 700px){
    body{
        height: 100vh;
    }
  
    .vertical {
        position: absolute;
        top: 0px;
        top: var(--page-spacing);
        left: 0px;
        left: var(--page-spacing);
        display: block;
    }
    .horizontal{
        display: none;
    }

    hr{
        display: none;
    }

    main{
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: var(--grey);
    }

    
}