:root {
  --oranage: #D1623E;
  --brown: #665652;
  --grey: #f1f1f1;
  --img-shadow: 0px 0px 10px 0px #66565230;
  --page-spacing: 2rem;
  --mono: 'input-mono-narrow';
  --sans: 'degular';
}

html {
  font-size: 24px;
  font-family: 'degular';
}

body {
  background-color: var(--grey);
}

header {
  position: relative;
  background-color: #665652;
  background-image: url("./entry-2/entry-2 imgs/entry-02 cover.JPG");
  background-position: left;
  background-size: 150%;
  color: var(--grey);
  height: 90vh;
  z-index: 1;
}

.header-content{
  position:absolute;
  bottom: 0px;
  max-width: fit-content;
  margin: var(--page-spacing);

}

hr {
  border: solid 1px;
  margin-bottom: var(--page-spacing)
}

header h2 {
  font-size: 1em;
  color: var(--grey);
  margin-bottom: 0em;
}

h1 {
  font-family: 'degular';
  font-size: 2em;
  margin-bottom: var(--page-spacing)
}

h2 {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: var(--page-spacing);
  color: var(--oranage)
}

h3 {
  font-weight: bold;
  margin-bottom: calc(0.5 * var(--page-spacing));
}

a::before {
  content:'{';
}

a::after {
  content: '}';
}

a:hover {
  opacity: 50%;
}

nav {
  color: var(--oranage);
  font-family: input-mono-narrow;
  font-weight: 100;
  font-size: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 0px #66565230;
  height: 10vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}


article {
  margin: var(--page-spacing);
}

section {
  margin-bottom: calc(0.5 * Var(--page-spacing));
}

ul {
  font-family: input-mono-narrow;
  font-weight: 100;
  line-height: 2em;
  font-size: 1rem;
  border-left: solid;
  padding-left: 1em;
  margin-bottom: var(--page-spacing);
}

.body-copy {
  margin-bottom: calc(0.5 * var(--page-spacing));
  color: var(--brown);
  text-align: justify;
  text-justify: newspaper;
}



.two-img-grid {
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.2rem
}

.two-img-grid>img {
  width: 100%;
}

.img-container {
  text-align: center;
  margin: 0rem 0rem
}

.img-container>img {
  width: 45%;
  height: 45%;
}



.four-img-grid {
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2rem
}

.four-img-grid>img {
  width: 100%;
}

footer {
  background-color: var(--brown);
  color: var(--grey);
  height: 30vh;
  padding: var(--page-spacing);
}

footer a {
  color: var(--grey);
}
footer a::after {
  content: '} :)';
}
footer p {
  opacity: 50%;
}

@media screen and (min-width: 700px) {
  .four-img-grid {
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2rem
  }
  .two-img-grid {
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem;
  }
  .body-copy{
    max-width: 75%;
  
  }
  h1{
    font-size: calc(2 * 2rem);
}
h2{
    font-size: calc(2 * 1rem);
}
header h2{
    font-size: calc(2 * 1rem);
}
}
