/* nav{
    margin: 0 var(--page-spacing);
} */
.h-scroll {
    background: var(--brown);
    color: var(--grey);

    margin-top: var(--page-spacing);
    margin-bottom: var(--page-spacing);
    /* margin: var(--page-spacing); */
    
    padding: var(--page-spacing);
    display: flex;
    gap: calc(0.5 * var(--page-spacing));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--page-spacing);
    box-shadow: inset var(--img-shadow);
}

.h-scroll > * {
    flex-shrink: 0;
    width: 75%;
    scroll-snap-align: center;
}


/* .h-scroll h2:before,
.h-scroll h2:after {
    content: '';
    display: block;
    visibility: hidden;
    margin-top: var(--inset--top);
    margin-bottom: var(--inset--bottom);


} */

.h-scroll h2 {
    font-size: 1.5rem;
    color: var(--grey);
    background-color: var(--brown);

    /* --inset--top: -0.35em;
    --inset--bottom: -0.35em;
    --inset--left: 0em;
    --inset--right: 0em;

    display: flow-root;
    Cinch the height.
    margin-left: var(--inset--left);
    margin-right: var(--inset--right);
    margin-bottom: 0;
    width: fit-content;
    Cinch the width. */
}

.caption{
    color: var(--brown);
    font-family: var(--mono);
    font-size: 0.75rem;
    font-weight: 200;
    margin-top: 0.75em;

}
/* .h-scroll h2{
    transform: rotate(90deg);
} */
.intro{
    border: solid 2px var(--grey);
    /* margin-right: var(--page-spacing); */
    padding: calc(0.5 * var(--page-spacing));
    

}
.img-container {
    background-color: white;
    /* height: fit-content; */
    padding: calc(0.5 * var(--page-spacing));
    box-shadow: var(--img-shadow);
}

.h-scroll .img-container>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: var(--img-shadow);
}
.frame{
    margin: var(--page-spacing);
    
    padding: var(--page-spacing);
    border: solid 2px var(--brown);
}

.body-copy{
    font-family: var(--sans);
}
@media screen and (min-width: 700px) {
    .h-scroll > * {
        flex-shrink: 0;
        width: 35%;

    }
    .frame{
        padding: calc(2 * var(--page-spacing));
    }
}