:root {
    --oranage: #D1623E;
    --brown: #665652;
    --grey: #f1f1f1;
    --img-shadow: 0px 0px 10px 0px #66565230;
}

html {
    font-size: 24px;
    font-family: degular;
}

body {
    background-color: var(--grey);
}

header {
    position: relative;
    padding: 2rem;
    background-color: var(--brown);
    background-image: url("./entry-4 imgs/Entry-4 cover.JPG");
    background-size: cover;
    color: var(--grey);
    height: 91.5vh;
    z-index: 1;

}

hr {
    border: solid 1px;
    margin-bottom: 1rem;
}

header h2 {
    color: var(--grey);
}

h1 {
    font-size: 'degular';
    font-size: 2em;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 200;
    font-size: 2em;
    margin-bottom: 2rem;
    color: var(--oranage)
}

h1 {
    font-size: 4em;
}

.body-copy p {
    margin-bottom: 0.5em;
}
.body-copy p:last-child{
    margin-bottom: 0em;
}

.nav-bar {
    color: var(--oranage);
    font-family: input-mono-narrow;
    font-weight: 100;
    font-size: 1rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: white;
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 0px #66565230;
    z-index: 1;
}

section {
    padding: 4rem 2rem 4rem 2rem;
}

 .dark{
    background-color: var(--brown);
    color: var(--grey);
    background-image: url("./entry-4 imgs/Raindrop-background.JPG");
    background-size: cover;
}
.dark h2{
    color:var(--grey)
}

img {
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.20)
}

.widescreen-img-cont {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
   padding: 1rem;
}

.widescreen-img-cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0rem;
}


.text-overlay-light {
    color: var(--grey);
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    font-family: 'input-mono-narrow';
    font-weight: 200;
}
.text-overlay-dark {
    color: var(--brown);
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    font-family: 'input-mono-narrow';
    font-weight: 200;
}

footer {
    background-color: var(--grey);
    color: var(--brown);
    padding: 2rem 8rem 2rem 8rem;
}

footer a {
    color: var(--brown);
}

footer p {
    opacity: 50%;
}

a:hover {
    opacity: 50%;
}


@media (min-width:700px) {
    html {
        font-size: 24px;
    }

    .flex-content {
        display: flex;
        gap: 2rem;

    }

    .flex-content img {
        width: 50%;
        height: 50%;
        margin-bottom: 0rem;
    }
    .text-overlay{
        width: 25%;
    }
}
@media (min-width:950px){
    section {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .widescreen-img-cont{
        height: 30vw;
    }
    .widescreen-img-cont img{
        /* object-position: bottom; */
    }
    .text-overlay-dark,
    .text-overlay-light{
        width: 25%;
    }
}
