:root {
    --oranage: #D1623E;
    --brown: #6b5450;
    --grey: #f1f1f1;
    --img-shadow: 0px 0px 10px 0px #66565230;
    --page-spacing: 2rem;
    --mono: 'input-mono-narrow';
    --sans: 'degular';
    font-size: 18px;
}

body {
    background-color:var(--brown);
    background-image: url("../entry-2/entry-2 imgs/entry-02\ cover.JPG");
    background-size: cover;
}
hr {
    border: solid 1px;
    margin-bottom: var(--page-spacing);
}


h1 {
    font-family: var(--sans);
    font-size: 2em;
    margin-bottom: var(--page-spacing)
}

h2 {
    font-weight: 200;
    font-size: 2em;
    font-family: var(--sans);
    margin-bottom: var(--page-spacing);
    color: var(--oranage)
}

a::before {
    content:'{';
}

a::after {
    content: '}';
}

a:hover {
    opacity: 50%;
}
header {
    /* background-color: var(--brown); */
    /* background-image: url("../entry-1/entry-1 imgs/entry-01 cover.JPG"); */
    background-size: cover;
    background-position: bottom;
    color: var(--grey);
    height: calc(92vh - 2em);
    z-index: 1;
    padding: var(--page-spacing);
}
.header-border{
    border: solid var(--grey);
    position: relative;
    height: 100%;
}
.header-content{
    position:absolute;
    bottom: 0;
    padding: var(--page-spacing);
    color: var(--grey);
    max-width: fit-content;
  }
  header h2 {
      font-size: 1em;
      color: var(--grey);
      margin-bottom: 0em;
  }



nav {
    color: var(--oranage);
    font-family: var(--mono);
    font-weight: 100;
    font-size: 0.75rem;
    background-color: white;
    padding: 1rem 2rem;
    margin: 0 var(--page-spacing);
    height: 8vh;
    box-shadow: 0px 0px 10px 0px #66565230;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    border: solid var(--grey);
    padding: var(--page-spacing);
    margin: var(--page-spacing);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-spacer {
    /* border: solid var(--grey); */
    width: 100%;
    padding-top: 100%;
}

.img-wrapper {
    /* border: solid var(--grey); */
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.img-wrapper>img {
    position: absolute;
    top: 0px;
    height: 100%;
    object-fit: cover;
}

.img-wrapper .overlay {
    background-color: rgba(242, 242, 242);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.img-wrapper:active>.overlay {
    height: 0%;
    transition: all 250ms ease-in-out;
}
.img-wrapper:not(:active)>.overlay {
    transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 700px){
    :root{
        font-size: 24px;
    }
    main{
        grid-template-columns: repeat(4, 1fr);
    }
    .img-wrapper:hover>.overlay {
        height: 0%;
        transition: all 250ms ease-in-out;
    }
    .img-wrapper:not(:hover)>.overlay {
        transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
}