:root {
    --oranage: #D1623E;
    --brown: #665652;
    --grey: #f1f1f1;
    --img-shadow: 0px 0px 10px 0px #66565230;
    --page-spacing: 2rem;
    --mono: 'input-mono-narrow';
    --sans: 'degular';
}

html {
    font-size: 24px;
    font-family: degular, sans-serif;
}

body {
    background-color: var(--grey);
}


header {
    position: relative;
    background-color: #665652;
    background-image: url("../entry-2/entry-2 imgs/entry-02 cover.JPG");
    background-size: cover;
    background-position: top;
    color: var(--grey);
    height: 90vh;
    z-index: 1;
}

.header-content{
    position:absolute;
    bottom: 0px;
    max-width: fit-content;
    margin: var(--page-spacing);
 
}

h1 {
    font-family: 'degular';
    font-size: 4em;
    margin-bottom: var(--page-spacing)
}

h2 {
    font-weight: 200;
    font-size: 2em;
    margin-bottom: var(--page-spacing);
    color: var(--oranage)
}

header h2 {
    font-size: 2em;
    color: var(--grey);
}

h3 {
    font-family: 'input-mono-narrow', monospace;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
}

hr {
    border: solid 1px;
    margin-bottom: var(--page-spacing);
}

b {
    font-weight: bold;
}

nav {
    color: var(--oranage);
    font-family: input-mono-narrow;
    font-weight: 100;
    font-size: 1rem;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 0px #66565230;
    height: 10vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a::before {
    content:'{';
}

a::after {
    content: '}';
}


a:hover {
    opacity: 50%;
}

main {
    margin: var(--page-spacing);
}

.intro {
    margin: 4rem 6rem 4rem 6rem;
    text-align: justify;
}


.flex-rule {
    height: 2px;
    width: 100%;
    margin-top: 10px;
    background-color: #d1623e;
}

.section-title {
    display: flex;
    gap: 0.5rem;
    /* background-color: aqua; */
    width: 100%;
    align-items: center;
    height: min-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-title>h2 {
    margin: 0
}

.section-grid-01 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}


.section-grid-02 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

.detail-img-cont,
.main-img-cont {
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.20);
}

.section-grid-01>.main-img-cont {
    grid-row: span 2;
    grid-column: span 2;
}

.section-grid-02>.main-img-cont {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.detail-img-cont {
    position: relative;
    overflow: hidden;
}


.img-num-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    font-family: 'input-mono-narrow', monospace;
    font-weight: bold;
    font-size: 2rem;
}

.img-num-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-family: 'input-mono-narrow', monospace;
    font-weight: bold;
    font-size: 2rem;
}

.img-num-btm-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
    font-family: 'input-mono-narrow', monospace;
    font-weight: bold;
    font-size: 2rem;
}

.img-num-btm-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    font-family: 'input-mono-narrow', monospace;
    font-weight: bold;
    font-size: 2rem;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

/* --- Body Copy --- */

.section-grid-01>.key {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.section-grid-02>.key {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.key {
    font-family: 'input-mono-narrow', monospace;
    font-weight: 200;
    font-size: 16px;
    background-color: #ffffff;
    color: #665652;
    padding: 1.5em;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
}

dl {
    margin-left: 0.5rem;
}

dd {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

dd::before {
    content: "- ";
}

footer {
    background-color: var(--brown);
    color: var(--grey);
    height: 30vh;
    padding: var(--page-spacing);
}

footer a {
    color: var(--grey);
}

footer p {
    opacity: 50%;
}

footer a::after {
    content: '} :)';
}

@media screen and (max-width: 1000px) {
    .intro {
        margin: 6rem 0rem 6rem 0rem;
    }
}

@media screen and (max-width: 1000px) {
    .section-grid-01 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .section-grid-01>.main-img-cont {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .section-grid-01>.key {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .section-grid-02 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .section-grid-02>.main-img-cont {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .section-grid-02>.key {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}


@media screen and (max-width: 700px) {
    h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1em;
    }
}
